@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

body {
/*	background-image: url('http://i.istockimg.com/file_thumbview_approve/58593320/6/stock-photo-58593320-office-desk-table-with-computer-supplies-and-flower.jpg');
	background-repeat: no-repeat;
	background-size: cover;
*/
	font-family: 'Lato', sans-serif;
	/*color: white;*/
	box-sizing: border-box;
}

.inline{
	display: inline-block;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 75px;
	font-weight: 100;
	padding: 20px 0px 10px;
	letter-spacing: 3px;
	text-shadow: 2px 2px 6px #222;
}

h2 {
	padding: 20px 0px;
}

.sub-head{
	font-weight: 300;
	font-size: 16px;
	text-shadow: 3px 3px 3px #222;
}

.sub-text{
	font-size: 18px;
	font-weight: 300;
	text-shadow: 3px 3px 3px #333;

}

.block-sub-title {
	font-size: 20px;
	font-weight: 700;
}

.section{
	padding: 40px 0px;
}

.block {
	display: block;
	padding: 10px;
}


ul li{
	text-align: center;
	display: inline-block;
	font-size: 12px;
	margin: 10px;
}

.btn-custom {
	background-color: #CB9512;
	color: white;
}


.navi {
	display: none;
	color: white;
}

.nav-icon{
	font-size: 35px;
	padding: 0px 20px;
}
.nav-icon-sm{
	font-size: 25px;
	padding: 0px 10px;
}

.sub-navi{
	background-color: #568EFF;
}

.navi-full{
	background-color: #7FD1CE;
	text-align: center;
}

.navi-left {
	background-color: #7FD1CE;
	border-right: 10px solid rgba(0, 0, 0, 0.1);
	text-align: right;
}

.navi-right {
	background-color: #568EFF;
	text-align: left;
}

.intro{
	background-image: url('desktop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	background-color: #B51267;
}

.intro-text{
	top: 25%;
	text-align: center;
	color: white;
}

.hide-form{
	color: #999;
	font-size: 12px;
	text-align: right;
	padding: 10px;
}

.hide-input{
	color: #B51267;
	font-size: 18px;
}

#projects,
#shopping{
	display: none;
	padding-bottom: 70px;
	height: 90vh;
}

.new-project-form, .new-list-form{
	background-color: rgba(255, 255, 255, 0.9);
}

.add-project:hover{
	color: #CB9512;
}

.project-block, .list-block {
	background-color: #E3E3E3;
	border-left: 4px solid #B51267;
	box-shadow: 2px 2px 2px #CCC;
	margin: 5px 0px;
	padding-bottom: 30px;
}

.block-title {
	font-weight: 300;
}

.collapse-caret {
	margin: 12px 0px;
	font-size: 26px;
	color: #999;
}

.collapse-caret:hover {
	color: #568EFF; /*deep blue */

}

.add-list-item{
	padding:20px 0px;
}

.list {
	padding-bottom: 10px;
}

.list-line, .task-line{
	padding: 10px 0px;
	background-color: #ddd;
}

.chkbx {
	font-size: 26px;
	color: #999;
	padding-top:14px;
}

.ex-pad{
	padding: 0px 40px;
}

.border-btn{
	background-color: transparent;
	color: white;
}

.rotated {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari and Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}

.add-list-item:hover, .add-list-item:hover, .sub-add-task:hover, .add-task:hover, .sub-add-list-item:hover {
	color: #B51267;
}

.fa-times-circle.xout {
	color: #B51267;
}

